.card-locale {
    position: relative;
    height: 80px;
    width: 165px;
    border-radius: 7%;
    overflow: hidden;
    padding: 10px;
  }
  
  .card_image {
    width: 40%;
    margin: auto;
    display: block;
  }
  
  .card-locale_description{
    margin-bottom: 10px;
  }
  
  .card-locale_title{
    font-size: calc(9px + (30 - 9) * ((100vw - 300px) / (1600 - 300)));
  }
  
  .card-locale_content{
    font-size: calc(9px + (30 - 9) * ((100vw - 300px) / (1600 - 300)));
  }