.ta-bg-yellow-1 {
    background-color: #F9DE6B;
}

.ta-bg-green-yellow-1 {
    background-color: #E6E85A;
}

.ta-bg-pink-1 {
    background-color: #F996B6;
}

.ta-bg-lilac-1 {
    background-color: #E6B6FD;
}

.ta-bg-purple-1 {
    background-color: #8A8FD7;
}

.ta-bg-dark-purple-1 {
    background-color: #3E5797;
}

.ta-bg-soft-blue-1 {
    background-color: #C8E4F3;
}

.ta-bg-teal-1 {
    background-color: #7ED7DF;
}

.ta-bg-gray-input-1 {
    background-color: #9CA1A5;
}

.ta-bg-gray-icon-1 {
    background-color: #D7DEE6;
}

.ta-bg-gray-back-1 {
    background-color: #eff4f8e5;
}

.ta-bg-success {
    background-color: #91E78D;
}

.ta-bg-warn {
    background-color: #F8E08B;
}

.ta-bg-danger {
    background-color: #F48585;
}



.ta-c-yellow-1 {
    color: #F9DE6B;
}

.ta-c-green-yellow-1 {
    color: #E6E85A;
}

.ta-c-pink-1 {
    color: #F996B6;
}

.ta-c-lilac-1 {
    color: #E6B6FD;
}

.ta-c-purple-1 {
    color: #8A8FD7;
}

.ta-c-dark-purple-1 {
    color: #3E5797;
}

.ta-c-soft-blue-1 {
    color: #C8E4F3;
}

.ta-c-teal-1 {
    color: #7ED7DF;
}

.ta-c-gray-input-1 {
    color: #9CA1A5;
}

.ta-c-gray-icon-1 {
    color: #D7DEE6;
}

.ta-c-success {
    color: #91E78D;
}

.ta-c-warn {
    color: #F8E08B;
}

.ta-c-danger {
    color: #F48585;
}